
.container
  .page-header
    %h2 Subscribers

    %p.mute
      == #{@users.count} subscribers:

    - if @users.any?
      %table.table
        - @users.each do |user|
          %tr
            %td= user.email
            %td= time_ago_in_words(user.created_at) + ' ago' unless user.created_at.blank?
            %td= link_to 'delete', [:admin, user], method: 'delete', 'data-confirm' => "Are you sure you want to delete '#{user.email}'?"

    - else
      no subscribers yet
