
.container
  .row
    .span6
      .page-header
        %h2 Подписались

      %p.mute
        == #{@users.count} подписчиков:

      - if @users.any?
        %table.table
          - @users.each do |user|
            %tr
              %td= user.email
              %td= time_ago_in_words(user.created_at) + ' ago' unless user.created_at.blank?
              %td= link_to 'delete', [:admin, user], method: 'delete', 'data-confirm' => "Are you sure you want to delete '#{user.email}'?"

      - else
        нет подписавшихся

    .span6
      .page-header
        %h2 Опыт

      %p.mute
        #{ @statistics.count } ответов:

      %h2 Языки
      %table.table
        - @statistics.languages.each do |language, count|
          %tr
            %th= language
            %td=  count

      %h2 Опыт
      %table.table
        - @statistics.experience.each do |experience, count|
          %tr
            %th= experience
            %td= count
