
.container
  .row
    .span6
      .page-header
        %h2 Подписались

      %p.mute
        == #{@users.count} подписчиков:

      - if @users.any?
        %table.table
          - @users.each do |user|
            %tr
              %td= user.email
              %td= time_ago_in_words(user.created_at) + ' ago' unless user.created_at.blank?
              %td= link_to 'delete', [:admin, user], method: 'delete', 'data-confirm' => "Are you sure you want to delete '#{user.email}'?"

        = link_to 'Экспорт', admin_users_path(format: 'csv')
      - else
        нет подписавшихся

    .span6
      .page-header
        %h2 Опыт

      %p.mute
        == #{@questions.count} ответов:

      - if @questions.any?
        %table.table
          %tr
            %th Опыт
            %th Языки
          - @questions.each do |q|
            - unless q.experience.blank?
              %tr
                %td= q.experience
                %td= q.languages.to_a.join(', ')
