.jumbotron
  %h1 Курсы по Ruby и Ruby on Rails
  %p.lead
    Севастопольская команда
    %a{:href => "http://kodolabs.com", :target => "_blank"} Kodo Labs
    организовывает курсы по Ruby и Ruby on Rails.
    Этот сайт поможет нам собрать информацию о ваших предпочтениях и пожеланиях.

= form_for @user, :remote => true, :html => { :class => 'form-horizontal' } do |f|
  .input-prepend.input-append
    %span.add-on
      %i.icon-envelope
    = email_field_tag :email, '', :class => 'span3', :required => true, :placeholder => 'Ваш email'
    = f.submit 'Добавить', :class => 'btn btn-success'
  %p.muted
    %small Мы вышлем вам приглашение на курсы, как только определимся с датой и форматом.

= form_for @questionary, :remote => true, :html => { :class => 'form-vertical hide' } do |f|
  %p
    Мы будем очень благодарны, если вы ответите на несколько вопросов.
    %br
    Это займет 30 секунд и поможет сделать курсы были эффективными.
  .control-group.well
    = f.label :course_format, "Какой формат курсов вам больше нравится?", :class => 'control-label'
    .controls
      - Questionary::COURSE_FORMATS.each do |format|
        %label.radio
          = f.radio_button :course_format, format
          = format
  .control-group.well.pull-left
    = f.label :ruby_knowledge, "Знаете ли вы Ruby?", :class => 'control-label'
    .controls.span3
      - Questionary::YES_NO.each do |knowledge|
        %label.radio
          = f.radio_button :ruby_knowledge, knowledge
          = knowledge
  .control-group.well.pull-right
    = f.label :nix_knowledge, "Работали ли вы в UNIX-подобной системе?", :class => 'control-label'
    .controls.span4
      - Questionary::YES_NO.each do |knowledge|
        %label.radio
          = f.radio_button :nix_knowledge, knowledge
          = knowledge
  .clearfix
  .control-group.well
    = f.label :expirience, "Каков ваш опыт в программировании?", :class => 'control-label'
    .controls
      - Questionary::EXPIRIENCE.each do |expirience|
        %label.radio
          = f.radio_button :expirience, expirience
          = expirience
  .control-group
    .controls
      = f.submit 'Отправить', :class => 'btn btn-success btn-large'
%p#thank_you.well.well-large.hide
  Спасибо за уделенное время. Воспользуйтесь кнопками социальных сетей

%hr

.row-fluid.marketing
  %h3 Почему Вам стоит записаться на курсы
  .span5
    %h4 Скорость разработки
    %p Быстрая разработка веб-приложений
    %h4 Перспектива влиться в нашу команду
    %p Возможность продолжить обучение и начать работу в нашей команде после окончания курсов
  .span6
    %h4 Знание одного из самых классных языков программирования
    %p Ruby создавался как язык для программистов, он очень экспрессивный и интуитивный
    %h4 Высокая зарплата rails-разработчика
    %p
      Статистика зарплат от
      %a{:href => "http://dou.ua/lenta/articles/developers-salaries-may-june-2012/", :target => "_blank"} DOU
      по Украине
