.jumbotron
  %h1 Ruby on Rails: Быстрый старт
  %p.lead
    Познакомьтесь с лучшим фреймворком для создания веб приложений.
    Начните использовать Rails в реальных проектах уже завтра.

-#%hr

-#.row-fluid.place
-#  .span6
-#    %strong Севастополь
-#  .span6
-#    %strong Вторая половина мая 2013

.row-fluid
  .span12.program
    Команда опытных ruby разработчиков проведет 2-х дневные курсы в Севастополе в конце мая
    (подпишись на новости чтобы узнать точную дату и место проведения).
    Программа совместит в себе теорию и практику. Мы расскажем как быстро настроить рабочую среду и с чего начать разработку
    приложения. Ты узнаешь как устроено rails приложение, как организовать работу с базой данных, как правильно
    структурировать код и как писать автоматизированные тесты.

.row-fluid.target
  .span6
    .heading Опытным
    %p
      Если ты пишешь на PHP, Python или C#, тебе будет интересно познакомиться с новым языком - Ruby.
      Он красив, лаконичен и экспрессивен. А Ruby on Rails - это мощная инфраструктура, которая делает работу приятной и продуктивной.
  .span6
    .heading Начинающим
    %p
      Ruby - это прекрасный язык для того, чтобы учиться программированию. А Ruby on Rails научит тебя правильным
      подходам к программированию, такие как модульность, расширяемость и тестирование.
%hr

.subscribe
  = form_for @user, :remote => true, :html => { :class => 'form-horizontal' } do |f|
    %p Я хочу подписаться на новости о курсе "Ruby on Rails: быстрый старт"
    = email_field_tag :email, '', :class => 'span3', :required => true, :placeholder => 'Ваш email'
    = f.submit 'Подписаться', :class => 'btn'

%hr

= form_for @questionary, :remote => true, :html => { :class => 'form-vertical hide' } do |f|
  %p
    Мы будем очень благодарны, если вы ответите на вопросы.
  .control-group.well
    = f.label :language, "Какие языки программирования вы знаете?", :class => 'control-label'
    .controls
      - Questionary::LANGUAGES.each do |language|
        %label.radio
          = f.check_box :languages, {}, language
          = language
  .control-group.well
    = f.label :experience, 'Какой у вас опыт программирования?', :class => 'control-label'
    .controls
      - Questionary::EXPERIENCE.each do |experience|
        %label.radio
          = f.radio_button :experience, experience
          = experience
  .control-group
    .controls
      = f.submit 'Отправить', :class => 'btn btn-success btn-large'

%p#thank_you.well.well-large.hide
  %strong Большущее вам спасибо!
  %br/
  Скоро мы все сообщим! :)



