.jumbotron
  %h1 Курсы по Ruby и Ruby on Rails
  %p.lead
    Севастопольская команда
    %a{:href => "http://kodolabs.com", :target => "_blank"} Kodo Labs
    организовывает курсы по Ruby и Ruby on Rails. Если Вам интересно заполните форму.

= form_for @user, :remote => true, :html => { :class => 'form-horizontal' } do |f|
  = email_field_tag :email, '', :class => 'span3', :required => true, :placeholder => 'Ваш email'
  = f.submit 'Добавить', :class => 'btn btn-success btn-large'
  %p.muted
    %small Мы вышлем вам приглашение, когда определится дата первой встречи.

= form_for @questionary, :remote => true, :html => { :class => 'form-vertical hide' } do |f|
  %p
    Мы будем очень благодарны, если вы ответите на несколько вопросов.
    %br
    Это займет 30 секунд и поможет сделать курсы были эффективными.
  .control-group.well
    = f.label :course_format, "Какой формат курсов вам больше нравится?", :class => 'control-label'
    .controls
      - Questionary::COURSE_FORMATS.each do |format|
        %label.radio
          = f.radio_button :course_format, format
          = format
  .control-group.well.pull-left
    = f.label :ruby_knowledge, "Знаете ли вы Ruby?", :class => 'control-label'
    .controls.span3
      - Questionary::YES_NO.each do |knowledge|
        %label.radio
          = f.radio_button :ruby_knowledge, knowledge
          = knowledge
  .control-group.well.pull-right
    = f.label :nix_knowledge, "Работали ли вы в UNIX-подобной системе?", :class => 'control-label'
    .controls.span4
      - Questionary::YES_NO.each do |knowledge|
        %label.radio
          = f.radio_button :nix_knowledge, knowledge
          = knowledge
  .clearfix
  .control-group.well
    = f.label :expirience, "Каков ваш опыт в программировании?", :class => 'control-label'
    .controls
      - Questionary::EXPIRIENCE.each do |expirience|
        %label.radio
          = f.radio_button :expirience, expirience
          = expirience
  .control-group
    .controls
      = f.submit 'Отправить', :class => 'btn btn-success btn-large'
%hr

.marketing
  %h3 Почему Вам стоит записаться на курсы
  %ul
    %li Откройте мир быстрой и продуктивной web-разработки - от идеи до готового решения всего несколько дней
    %li Изучение одного из популяршейшего языка программирования - Ruby
    %li Перспективы последующей работы с нашей команде
    %li Узнайте современные подходы в создание, изменение и поддержке программного продукта
