!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
    %title Курсы "Ruby on Rails: Быстрый старт" в Севастополе
    = stylesheet_link_tag    'application', :media => 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false'
    %meta{property:"og:type", content:"article"}
    %meta{property:"og:url", content:"http://railskickstart.com.ua/"}
    %meta{property:"og:title", content:"Открыта регистрация на курсы 'Ruby on Rails: Быстрый старт' в Севастополе"}
    %meta{property:"og:description", content:"Познакомься с замечательным фреймворком для создания веб приложений. Начни использовать Rails в реальных проектах уже завтра."}
    %meta{property:"og:image", content:"http://rubyonrails.org/images/rails.png"}
    %meta{name:"twitter:card", content: "Открыта регистрация на курсы 'Ruby on Rails: Быстрый старт' в Севастополе #railskickstart"}
    %meta{name:"twitter:site", content:"http://railskickstart.com.ua/"}
    %meta{name:"twitter:creator", content:"@kodolabs"}

    = yield :javascript

    = csrf_meta_tags
  %body

    = render 'layouts/analytics'

    = render 'layouts/navbar'

    #wrap
      = yield
      #push

    %footer
      .container-narrow
        .row-fluid
          .span9
            = render 'layouts/social-likes'

          .span3
            .pull-right Kodo Labs &copy; 2013
