!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
    %title Rails Bootcamp
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container-narrow
      .masthead
        %ul.nav.nav-pills.pull-right
          %li
            %a{:href => "http://kodolabs.com", :target => "_blank"} О нас
          %li
            %a{:href => "http://setupmeetup.com/", :target => "_blank"} SetupMeetup
          %li
            %a{:href => "https://groups.google.com/forum/?fromgroups#!forum/ror2sevastopol"} RoR-сообщество
        %h3.muted= link_to 'Rails Bootcamp', root_path
      %hr
      = yield
      %hr
      .footer
        %ul.social-likes{ "data-counters" => "no" }
          %li.facebook{ :title => "Поделиться ссылкой на Фейсбуке" } Facebook
          %li.twitter{ "data-via" => "kodolabs", :title => "Поделиться ссылкой в Твиттере" } Twitter
          %li.vkontakte{ :title => "Поделиться ссылкой во Вконтакте" } Вконтакте
          %li.plusone{ :title => "Поделиться ссылкой в Гугл-плюсе" } Google+
